<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="trackerSettings" type="Shadow.Configuration.TrackerSettingsSection,ShadowTracker.Core" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>

	<trackerSettings
		serviceName="ShadowTrackerService"
		displayName="ShadowTracker Service"
		serviceDescription="A generalized file system change tracking service intended to keep a database up-to-date with the latest files on disk."
		sqlMapping="ShadowDB.map"
		sqlConnectionName="ShadowDB"
		fileFilter=".jpg|.jpeg|.jpe|.avi|.mov"
		trickleRate="200">

		<add name="ShadowTest1" path="C:\ShadowTest1" />
		<add name="ShadowTest2" path="C:\ShadowTest2" />
	</trackerSettings>

	<connectionStrings>
		<add name="ShadowDB"
			 connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ShadowDB.mdf;Integrated Security=True;User Instance=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>